<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayane Shirakawa</title>
    <!-- Linking Google Fonts For Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="top-section">
        <p class="subtitle">
          I am <span class="fancy-color">Ayane!</span>
        </p>
        <p class="subtitle-small">How can I help you?</p>
      </div>

       <!-- Suggestion list -->
       <ul class="suggestion-list">
        <li class="suggestion">
          <h4 class="text">Show the total number of employees..</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">List all departments in the company?</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">
            Can you help me find list of employees sorted by salary (highest to
            lowest)?
          </h4>
        </li>
        <li class="suggestion">
          <h4 class="text">Which department is most expensive?</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">Who is the most paid employee in the company?</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">List all managers with their location.</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">
            What is the total salary expense for the marketing department?
          </h4>
        </li>
        <li class="suggestion">
          <h4 class="text">Show me all employees in the Finance department.</h4>
        </li>
        <li class="suggestion">
          <h4 class="text">List all employees hired after January of 2020.</h4>
        </li>
      </ul>
      <p class="scroll-subtitle">Scroll through all demo prompts -></p>
    </header>

    <!-- Chat List / Container -->
    <div class="chat-list"></div>

    <!-- Typing Area -->
    <div class="typing-area">
      <form action="#" class="typing-form">
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="Enter a prompt here"
            class="typing-input"
            required
          />
          <button
            id="send-message-button"
            class="icon material-symbols-rounded"
          >
            send
          </button>
        </div>

        <!-- Model Toggle Button -->
        <div class="model-selection">
          <button id="model-toggle-btn" class="model-toggle">
            <img src="/static/images/gemini.svg" id="model-icon" alt="Gemini" />
          </button>
        </div>

        <div class="action-buttons">
          <span id="theme-toggle-button" class="icon material-symbols-rounded"
            >light_mode</span
          >
          <span id="delete-chat-button" class="icon material-symbols-rounded"
            >delete</span
          >
        </div>
      </form>
      <p class="disclaimer-text">
        This AI chatbot only answers queries based on company database records.
        Unexpected responses? Double-check your input!
      </p>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
